/*#txt {
    text-align: center;
    color: blue;
    font-size: 90px;
}
*/
h1 {
	text-align: center;
}
p {
	text-align: center;
	font-size: 50px;
}
#demo {
	font-family: Arial, Helvetica, sans-serif;
}
#txt{
    position:absolute;
    display:block;
    height:100px;
    width:100px;
    left:50%;
    top:50%;
    margin-top:-50px;
    margin-left:-50px;
    font-size: 90px;
    color: white;
}
body {
  background-image: url("img/ybqcajvqng4-preston-pownell.jpg");
}
